{
  "env": {
    "node": true,
    "mocha": true
  },

  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],

  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never"
    }],
    "func-names": ["error", "never"]
  }
}
